/**** Background Colors ****/
body,
.lightBtn {
  background-color: #efefef;
}

.main-slideshow,
.widget-item,
.widget-main,
.box-content-inner,
.page-title,
.grid-event-header,
.load-more-btn,
.event-container,
.gallery-content,
.blog-post-inner,
.prev-next-post a,
#blog-author,
.widget-main-title,
.blog-comments-content,
.contact-page-content,
.contact-map,
.course-details,
#disqus_thread {
  background-color: white;
}

.menu-toggle-btn {
  background-color: #c0392b;
}

.search-form form input {
  background-color: #fff;
  color: #333;
}

.responsive_menu {
  background-color: #910019;
}

.slider-caption,
.cat-blog,
.blog-post-meta ul li {
  background-color: rgba(0, 0, 0, 0.6);
}

.mainBtn,
.request-information .submit_field .mainBtn,
.tag-items a,
.site-header,
/*.main-menu li ul,*/
.social_icons li a,
.footer-media-icons li a,
.flex-direction-nav a {
  background-color: #eaeaea;
}

.main-menu li ul {
	background-color: #910019	;
}

.site-header {
  background-color: #efefef;
}

.main-navigation,
.site-footer {
/*  background-color: #bc2024;*/
	background-color: #C0392B;
}

blockquote,
.calendar-small,
.course-list > dt:nth-child(odd),
.tab-content > .tab-pane {
  background-color: #fafafa;
}

.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #4782b2;
}

/**** Text Colors ****/
.main-menu li.active a,
.social-icons li a:hover,
.site-footer a:hover,
.event-container .event-time {
  color: #fecd0b;
}

.main-menu li.active .sub-menu a:hover,
.slider-caption h2 a,
.flex-direction-nav a,
.footer-widget-title,
.footer-media-icons li a,
.mainBtn,
.request-information .submit_field .mainBtn,
.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.blog-grid-thumb .cat-blog,
/*.blog-post-meta ul li,*/
/*.blog-post-meta ul li a,*/
.tag-items a,
.comment-form .mainBtn,
.course-search-form .mainBtn,
/*.nav-tabs > li.active > a,*/
/*.nav-tabs > li.active > a:hover,*/
/*.nav-tabs > li.active > a:focus,*/
/*.nav-tabs > li.active > a*/
{
  color: black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a {
  color: white;
}

.blog-post-meta ul li,
.blog-post-meta ul li a {
	color: #fff;
}

.main-menu li a:hover {
	color: #fecd0b;
}

.social-icons li a:hover {
	color: #fff;
}

body,
.blog-list-meta a,
.event-small-meta,
.blog-grid-meta a,
.lightBtn,
.lightBtn:hover,
.blog-categories ul li a,
.comment-form label,
.course-search-form label {
  color: #666666;
}

.menu-toggle-btn,
.menu-toggle-btn:hover,.menu-toggle-btn:visited {
  color: #fff;
}

.main-menu a,
.main-menu li.active .sub-menu a,
.main-menu li ul li:before,
.site-header,
.site-header a {
  color: #fff;
}

.site-header a:hover {
  color: #5191c2;
}

.small-links li:not(:last-child):after,
.flex-direction-nav a:hover {
/*  color: #4185b9;*/
	color: #737171;
}

.site-footer {
  color: #6b90ad;
}

.site-footer a {
  color: white;
}

.footer-widget-title{
  color:white;
}

.site-footer{
  color:#c5c7c0;
}
.footer-nav li:not(:first-child):before {
  color: #4e718d;
}

.bottom-footer p.small-text {
  color: #B2B2B2;
}

a,
blockquote h5,
.blog-categories ul li a:hover,
.author-name a,
.author-name a:hover {
  color: #4782b2;
}

.responsive_menu a, .responsive_menu a:hover{
  color: #fff;
  
}
h1, h2, h3, h4, h5, h6,
.dark-text,
.page-title a,
.s-date,
.load-more-btn a,
.mixitup-controls .active,
.prev-next-post a {
  color: #282a2c;
}

.small-text,
.page-active,
.request-information input,
.input-select select,
.event-contact ul li,
.comment-form input,
.comment-form textarea
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  color: #999999;
}

.page-title h6:not(:first-child):before {
  color: #cccccc;
}

/**** Border Colors ****/
.widget-main-title,
blockquote,
.request-information input,
.input-select select,
.blog-list-post,
.event-small-list,
.prof-list-item,
.grid-event-header,
.load-more-btn,
.search-form-widget input,
.prev-next-post .whiteBtn,
.blog-comments-content .media,
.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  border-color: #cacaca !important;
}

.main-menu li {
/*  border-color: #910019;*/
  border-color: #DC5547;
}

.search-form form input {
	border-color: #BDBDBD;
}

.main-navigation {
  border-color: #910019;
}

.main-menu li ul li {
  border-color: #DC5547;
}

body,
.main-menu li ul,
.tab-content > .tab-pane {
  border-color: #fecd0b;
}

.site-footer {
  border-color: #d5d5d5;
}

.site-header {
  border-color: #efefef;
}

.small-links a {
/*	color: #000;*/
	color: #ADADAD;
}

.site-footer {
  background-color: #2C3E50;
}

.bottom-footer {
  border-color: #61929B;
}

.course-list dt,
.course-list dt:last-of-type {
  border-color: #e7eaed;
}
