/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
body {
  font: 13px/23px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  border-top: 4px solid;
}

a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input::-moz-focus-inner {
  border: 0;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', serif;
}

.small-text {
  font-size: 12px;
}

.widget-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.widget-main-title {
  border-bottom: 1px solid;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.page-title {
  display: block;
  padding: 18px 20px;
}
.page-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-title ul li {
  float: left;
  display: block;
}
.page-title h6 {
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  margin: 0;
}
.page-title h6:not(:first-child):before {
  content: "/";
  padding: 0 10px;
}

.grid-or-list {
  float: right;
}
.grid-or-list ul {
  padding: 0;
  margin: 0;
}
.grid-or-list ul li {
  font-size: 14px;
  line-height: 14px;
  margin: 0 7px;
}
.grid-or-list ul li:last-child {
  margin-right: 0 !important;
}

blockquote {
  border-left: 4px solid;
}
blockquote h5 {
  font-weight: 700;
  text-transform: uppercase;
}

.shortcode-typo p {
  margin-bottom: 20px;
}

.shortcode-typo h4 {
  margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	BOOTSTRAP OVERRIDING
/*-----------------------------------------------------------------------------------*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}

.nav-tabs > li {
  margin: 0;
  padding: 0;
}

.nav-tabs {
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-tabs > li > a:hover {
  border: none;
}

.nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}

.tab-content > .tab-pane {
  padding: 20px;
  border-top: 2px solid;
}

.panel-group .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border: 0;
}

.panel-collapse {
  padding: 0 10px;
}

.alert {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px 15px;
}

.progress {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
.site-header {
/*  font-size: 12px;*/
  font-size: 15px;
  border-bottom: 4px solid;
}

.header-left {
  margin-top: 10px;
}
.header-left p i {
  margin-right: 7px;
}

.logo {
  margin: 20px auto;
}

.logo img {
/*	height: 70px;*/
	height: 52px;
}

.header-right {
	margin: 20px auto;
  	text-align: right;
}

.small-links {
  padding: 0;
  margin: 0 0 15px 0;
}
.small-links li {
  list-style: none;
  display: inline;
}
.small-links li:not(:last-child):after {
  padding: 0 8px;
  content: '|';
}
.small-links .active a {
	color: #337ab7;
}

.search-form form input {
  min-width: 240px;
  box-shadow: none;
  border: 1px solid;
  height: 34px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.request-info input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

.main-navigation {
  font-size: 14px;
}

.main-menu {
  padding: 0;
  margin: 0;
}
.main-menu li {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 0;
  border-right: 1px solid;
  position: relative;
}
.main-menu li ul {
  position: absolute;
  width: 180px;
  z-index: 9999;
  top: 100%;
  left: 0;
  padding: 0;
  border-top: 4px solid;
}
.main-menu li ul li {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid;
  padding: 0;
}
.main-menu li ul li a {
  display: block;
  padding: 12px 20px;
}
.main-menu li ul li ul {
  left: 100%;
  top: 0;
}
.main-menu a {
  display: block;
  padding: 17px 20px;
}

.sf-with-ul i {
  margin-left: 10px;
}

.social-icons {
  padding: 17px 20px;
  margin: 0;
}
.social-icons li {
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.menu-toggle-btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 60px;
}

.responsive_menu {
  position: relative;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}

.main_menu {
  margin: 0;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid;
}
.main_menu li:not(:first-child) {
  border-top: 1px solid;
  padding: 12px 0;
}
.main_menu li ul {
  list-style: none;
  margin-left: -10px;
  margin-top: 10px;
}
.main_menu li ul li {
  border-top: 1px solid;
  padding: 10px 0;
}
.main_menu li ul li:before {
  content: '-';
  margin-right: 10px;
}
.main_menu a {
  font-size: 16px;
}

.social_icons {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  padding-left: 20px;
  display: inline-block;
  text-align: center;
}
.social_icons li {
  display: inline;
  float: left;
}
.social_icons li a {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
}


.right-menu {
  padding: 0;
  margin: 0;
  background-color: #910019;
}
.right-menu li {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 0;
  position: relative;
}
.right-menu li:not(:first-of-type) {
	border-left: 1px solid #9a3e4e;
}
.right-menu a {
  display: block;
  padding: 17px 20px;
}
.right-menu li a:hover {
	color: #fecd0b;
}


/*-----------------------------------------------------------------------------------*/
/*	SLIDER
/*-----------------------------------------------------------------------------------*/
.main-slideshow {
  padding: 6px;
}

.slider-caption {
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider-caption h2 {
  margin: 0 0 7px 0;
  line-height: 20px;
}
.slider-caption h2 a {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.slider-caption p {
  margin: 0;
  color: #a7aaac;
}

.flexslider {
  position: relative;
  height: 392px;
}
.flexslider img {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  height: auto;
  height: 100%;
}

.flex-direction-nav {
  position: absolute;
  right: 36px;
}

.flex-direction-nav a {
  width: 36px;
  height: 36px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}

/*-----------------------------------------------------------------------------------*/
/*	SETTINGS
/*-----------------------------------------------------------------------------------*/
.grid-event-item,
.load-more-btn,
.event-container,
.event-contact,
.gallery-item,
.blog-grid-item,
.blog-post-container,
.prev-next-post,
#blog-author,
.blog-post-comments,
.contact-page-content,
.contact-form,
.contact-map,
.course-post,
#disqus_thread,
.site-footer,
.widget-item,
.widget-sidebar,
.main-slideshow,
.widget-main,
.list-event-item,
.page-title {
  margin-top: 30px;
}

.event-container,
.blog-post-inner,
#blog-author,
.blog-comments-content,
.contact-page-content,
.course-details,
#disqus_thread,
.widget-item,
.widget-main-title,
.widget-inner,
.box-content-inner,
.slider-caption {
  padding: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	MAIN STYLING
/*-----------------------------------------------------------------------------------*/
.request-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: 16px;
}

.request-information label {
  font-weight: 400;
  font-size: 12px;
}
.request-information label, .request-information input, .request-information select {
  display: block;
}
.request-information input {
  width: 100%;
  border: 1px solid;
  padding: 5px 10px;
  outline: none;
}

.request-info {
  margin-top: 15px;
}

input, select {
  border: none;
  outline: none;
}

.mainBtn,
.request-information .submit_field .mainBtn {
  height: 40px;
  text-align: right;
  width: auto;
  padding: 0 15px;
  margin: 0;
}

.submit_field {
  margin-top: 16px;
  line-height: 40px;
}
.submit_field .small-text {
  line-height: 40px;
}

.request-information .request-info select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-select select {
  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
  padding: 3px 8px;
  border: 1px solid;
}

.full-row {
  margin-bottom: 10px;
}

.blog-list-post,
.event-small-list,
.prof-list-item {
  display: block;
  padding-top: 15px;
}
.blog-list-post:first-child,
.event-small-list:first-child,
.prof-list-item:first-child {
  padding-top: 0 !important;
}
.blog-list-post:last-child,
.event-small-list:last-child,
.prof-list-item:last-child {
  margin-bottom: 0 !important;
}
.blog-list-post:not(:last-child),
.event-small-list:not(:last-child),
.prof-list-item:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px dashed;
}

.blog-list-thumb {
  float: left;
  width: 65px;
  height: 65px;
  display: block;
  margin-right: 15px;
}
.blog-list-thumb img {
  width: 100%;
  height: 100%;
}

.blog-list-title,
.blog-grid-title,
.event-small-title,
.event-title,
.gallery-title {
  margin: 2px 0 0 0;
}
.blog-list-title a,
.blog-grid-title a,
.event-small-title a,
.event-title a,
.gallery-title a {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 22px;
  font-weight: 700;
  font-size: 14px;
}

.blog-list-meta,
.event-small-meta,
.blog-grid-meta {
  margin: 0;
}

.calendar-small {
  float: left;
  display: block;
  margin-right: 15px;
  width: 65px;
  height: 65px;
}
.calendar-small .s-month {
  display: block;
  width: 65px;
  height: 22px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}
.calendar-small .s-date {
  font-size: 16px;
  font-weight: 700;
  width: 65px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  display: block;
}

.prof-thumb {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 15px;
  overflow: hidden;
}
.prof-thumb img {
  width: 100%;
  height: 100%;
}

.prof-name-list {
  margin: 2px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 22px;
  font-weight: 700;
  font-size: 14px;
}

#slider-testimonials ul {
  padding: 0;
  margin: 0;
}
#slider-testimonials ul li {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-style: italic;
}
#slider-testimonials .prev, #slider-testimonials .next {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  float: left;
  display: block;
  margin: 10px 2px 0 0;
}

.gallery-small-thumbs {
  margin-left: -12px;
  margin-bottom: -12px;
}

.thumb-small-gallery {
  overflow: hidden;
  float: left;
  margin-left: 12px;
  width: 70px;
  display: inline-block;
  height: 70px;
  margin-bottom: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumb-small-gallery img {
  width: 100%;
  height: 100%;
}

.our-campus ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-campus ul li {
  float: left;
}
.our-campus ul li img {
  opacity: .5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.our-campus ul li img:hover {
  opacity: .8;
}

.grid-event-header {
  border-bottom: 1px solid;
  padding: 15px 20px;
}
.grid-event-header span i {
  margin-right: 10px;
}
.grid-event-header .event-place {
  margin-right: 20px;
}

.event-title {
  margin: 0 0 10px 0;
}

.load-more-btn {
  text-align: center;
  border-bottom: 2px solid;
}
.load-more-btn a {
  padding: 12px 20px;
  font-weight: 700;
  display: block;
}
.load-more-btn:active {
  border-bottom: 0;
}

.list-event-thumb {
  float: left;
  margin-right: 20px;
  display: block;
  width: 170px;
  height: 150px;
}
.list-event-thumb img {
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.list-event-thumb img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

.list-event-item .list-event-header {
  margin-bottom: 10px;
  line-height: 32px;
}
.list-event-item .list-event-header span i {
  margin-right: 10px;
}
.list-event-item .list-event-header .event-place {
  margin-right: 20px;
}
.list-event-item .list-event-header .view-details {
  float: right;
}

.lightBtn {
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  line-height: 32px;
}

.event-container .event-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.event-container .event-time {
  font-size: 15px;
  font-weight: 700;
  display: block;
  margin: 20px 0;
}

.left-event-content {
  float: left;
  position: relative;
  width: 30%;
}

.right-event-content {
  float: right;
  width: 65%;
}
.right-event-content p {
  margin-bottom: 20px;
}

.event-contact h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.event-contact ul {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}
.event-contact ul li {
  line-height: 24px;
}

#Grid .mix {
  display: none;
  opacity: 0;
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}
.gallery-thumb img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-content {
  padding: 12px 20px;
}
.gallery-content p {
  margin-top: 5px;
  margin-bottom: 0;
}

.search-form-widget input {
  border: 1px solid;
  width: 100%;
  padding: 7px 10px;
}

.mixitup-controls {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: square;
}
.mixitup-controls li {
  line-height: 24px;
  cursor: pointer;
}
.mixitup-controls .active {
  font-weight: 700;
}

.blog-list-details,
.event-small-details {
  overflow: hidden;
}

.blog-grid-item .blog-grid-title {
  line-height: 22px;
  margin-bottom: 10px;
}

.blog-grid-thumb {
  overflow: hidden;
  height: 220px;
  position: relative;
}
.blog-grid-thumb .cat-blog {
  height: 26px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  line-height: 26px;
}
.blog-grid-thumb img {
  width: 100%;
  height: 100%;
}

.blog-categories {
  padding: 0 20px;
}
.blog-categories ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: square;
}
.blog-categories ul li {
  line-height: 24px;
}

.blog-post-image {
  overflow: hidden;
  position: relative;
}
.blog-post-image .blog-post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog-post-image .blog-post-meta ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-post-image .blog-post-meta ul li {
  padding: 7px 10px;
  margin-top: 1px;
}
.blog-post-image .blog-post-meta ul li i {
  margin-right: 10px;
}
.blog-post-image img {
  width: 100%;
}

.blog-post-inner p {
  margin-bottom: 20px;
}
.blog-post-inner .blog-post-title {
  margin: 10px 0 0 0;
}

.tag-items {
  line-height: 25px;
}
.tag-items a {
  line-height: 25px;
  height: 25px;
  display: inline-block;
  padding: 0 8px;
}

.prev-next-post .whiteBtn {
  border-bottom: 2px solid;
  display: inline-block;
  margin-right: 8px;
}
.prev-next-post .whiteBtn:active {
  border: 0;
}
.prev-next-post a {
  display: block;
  padding: 10px 20px;
  float: left;
  font-weight: 700;
}
.prev-next-post .prev i {
  margin-right: 10px;
}
.prev-next-post .next i {
  margin-left: 10px;
}

.blog-author-img {
  float: left;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.author-name {
  margin: 5px 0 10px 0;
  font-size: 16px;
}
.author-name a {
  font-weight: 600;
}

.blog-comments-content .media-heading {
  margin: 3px 0 5px 0;
  font-size: 14px;
  font-weight: 600;
}
.blog-comments-content .media-object {
  margin-right: 5px;
}
.blog-comments-content .media:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed;
}
.blog-comments-content .media .media {
  border-top: 1px dashed;
  margin-top: 35px;
  padding-top: 20px;
}
.blog-title {
	margin-bottom: 20px;
}


.comment-form label {
  font-size: 12px;
  font-weight: 400;
}
.comment-form input, .comment-form textarea {
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 0 10px;
  outline: 0;
}
.comment-form input {
  height: 36px;
}
.comment-form textarea {
  padding: 10px;
  max-width: 100%;
}
.comment-form .mainBtn {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

.contact-heading h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0 15px 0;
}

.contact-form .contact-label {
  float: left;
  display: block;
  width: 30%;
}
.contact-form label {
  margin: 0;
}
.contact-form .small-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  line-height: 12px;
}
.contact-form input, .contact-form textarea {
  border: 1px solid;
  font-size: 12px;
  padding: 0 10px;
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.contact-form input {
  height: 36px;
  width: 45%;
}
.contact-form textarea {
  padding: 10px;
  width: 70%;
  max-width: 70%;
}
.contact-form .full-row {
  margin-top: 20px;
}
.contact-form .full-row:first-of-type {
  margin-top: 0;
}
.contact-form .mainBtn {
  margin-left: 30%;
  width: auto;
  font-size: 13px;
}

.contact-map {
  padding: 6px;
}

.archive-title {
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0 15px 0;
}

.archive-list {
  padding: 0;
  list-style-position: inside;
  list-style-type: square;
  margin: 0;
}
.archive-list li {
  line-height: 24px;
}

.course-search h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.course-search-form input, .course-search-form select {
  border: 1px solid;
  height: 32px;
  padding: 0 10px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.course-search-form label {
  font-weight: 400;
  font-size: 12px !important;
}
.course-search-form select {
/*  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;*/
}
.course-search-form .searchbox {
  width: 63%;
}
.course-search-form .mainBtn {
  height: 36px;
  font-size: 13px;
}

.course-search-form select {
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

#search_advanced .searchselect {
  display: block;
}

.search-form-item {
  float: left;
/*  width: 30%;
  margin-right: 3%;*/
  width: 25%;
  
  
  margin-top: 20px;
}
.search-form-item input, .search-form-item select {
  width: 100%;
}

.select-yes {
  width: auto;
  margin-right: 30px;
}
.select-yes label {
  margin-right: 10px;
}
.select-yes input {
  width: auto;
  height: auto;
}

.course-list dt {
  border: 1px solid;
  position: relative;
  border-bottom: 0;
  clear: both;
  padding: 15px;
}
.course-list dt:last-of-type {
  border-bottom: 1px solid;
}
.course-list dt a {
  display: block;
}
.course-list .ui-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -8px;
}
.course-list .level {
  float: left;
  width: 140px;
  font-size: 12px;
}

.course-post p {
  margin-bottom: 20px;
}
.course-post ul {
  margin: 0 0 20px 0;
}
.course-post .mainBtn {
  height: 36px;
  line-height: 36px;
  display: inline-block;
}

.course-image {
  overflow: hidden;
}
.course-image img {
  width: 100%;
}

.course-post-title {
  margin: 10px 0 20px 0;
}

/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/
.site-footer {
  padding-top: 50px;
  border-top: 4px solid;
}

.footer-widget-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-size: 13px;
}

.footer-widget .list-links {
  padding: 0 0 0 15px;
  margin: 0;
}
.footer-widget .list-links li {
  list-style-type: square;
  line-height: 24px;
}

.footer-media-icons {
  padding: 0;
  margin: 0;
}
.footer-media-icons li {
  list-style: none;
  float: left;
  display: block;
}
.footer-media-icons li a {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  margin-left: 1px;
  margin-bottom: 1px;
}

.bottom-footer {
  border-top: 1px solid;
  padding-top: 25px;
  margin-top: 70px;
  margin-bottom: 10px;
  display: block;
}

.footer-nav {
  text-align: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-nav li {
  display: inline;
  font-size: 12px;
}
.footer-nav li:not(:first-child):before {
  padding: 0 10px;
  content: '|';
}

/*-----------------------------------------------------------------------------------*/
/*	CUSTOM
/*-----------------------------------------------------------------------------------*/

/* navigation */
.list-account-info {
  padding: 17px 20px 7px;
  margin: 0;
  
  position: relative;
  display: inline-block;
  background-color: #910019;
}
.list-account-info li {
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.list-account-info:after {
  content: '';
  display: block;
  clear: both;
}
.list-account-info .list-item {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.list-account-info .account-info:hover {
  opacity: .8;
}
.list-account-info .account-info img {
  width: 100%;
}

.list-account-info .account-info {
  position: relative;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list-account-info .toggle-account {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  width: 200px;
  top: 57px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  
  right: 78px;
}
.list-account-info .toggle-account.toggle-message-add {
  opacity: 1;
  visibility: visible;
}
.list-account-info .toggle-account:before {
  content: '';
  display: block;
  position: absolute;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  top: -14px;
  right: 18px;
}
.list-account-info .toggle-account:after {
  content: '';
  display: block;
  clear: both;
}
.list-account-info .list-account {
  padding: 10px 0;
  list-style: none;
}
.list-account-info .list-account li a {
  position: relative;
  display: block;
  line-height: 30px;
  color: #666;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 0 15px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-account-info .list-account li a .icon {
  color: #a6a6a6;
  margin-right: 10px;
}
.list-account-info .list-account li a:hover {
	color: #E67E22;	
}
.list-account-info li a:hover {
	color: #fecd0b;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.main-menu a, .right-menu a {
/*	    padding: 17px 12px;*/
		padding: 17px 10px;
	}
}

.list-account-info .notification {
	margin-left: 0;
}

.list-account-info .notification .icon {
	font-size: 14px;
	top: 4px;
}

.list-account-info .me a {
	color: #F3B310;
}

.list-account-info .notification .badge {
	background-color: #16A085;
	font-size: 10px;
}

.list-account-info .notification .notification-info {
  position: relative;
  display: block;
  cursor: pointer;
}
.list-account-info .list-item .notification-info .icon {
  font-size: 12px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-account-info .list-item .notification-info .icon:hover {
  color: #37abf2;
}
.list-account-info .list-item .notification-info .itemnew {
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #37abf2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -6px;
  right: -6px;
}

.list-account-info .notification .list-profile-title {
    position: relative;
	padding: 0 15px;
}

.list-account-info .notification .list-profile-title a{
    color: #DC5547;
	line-height: 36px;
}

.list-account-info .notification .list-profile-title h4 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #666;
    line-height: 34px;
}

.list-account-info .notification .list-profile-title .count-value {
    background-color: #C0392B;
	line-height: 34px;
}

.list-account-info .notification .list-profile-title .count-value {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #37abf2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Notification */
.list-account-info .notification {
  position: relative;
}
.list-account-info .notification .toggle-notification {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  width: 296px;
  height: 320px;
  top: 40px;
  right: -82px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-account-info .notification .toggle-notification.toggle-message-add {
  opacity: 1;
  visibility: visible;
}
.list-account-info .notification .toggle-notification:before {
  content: '';
  display: block;
  position: absolute;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  top: -14px;
  right: 80px;
}
.list-account-info .notification .toggle-notification:after {
  content: '';
  display: block;
  clear: both;
}
.list-account-info .notification .toggle-notification .list-wrap {
  height: 225px;
  overflow: hidden;
  position: relative;
}
.list-account-info .notification .list-notification {
  padding: 0;
}
.list-account-info .notification .list-notification li {
  position: relative;
  border-top: 1px solid #D4D4D4;
  margin-left: 0;
  width: 100%;
}
.list-account-info .notification .list-notification li:last-child {
	border-bottom: 1px solid #D4D4D4;
}
.list-account-info .notification .list-notification li a {
  display: block;
  overflow: hidden;
  padding: 12px 18px;
}
.list-account-info .notification .list-notification li .list-body {
  position: relative;
}
.list-account-info .notification .list-notification li .list-body .author {
  display: inline;
  margin-top: 5px;
}
.list-account-info .notification .list-notification li .list-body .author span {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
.list-account-info .notification .list-notification li .list-body .author .div-x {
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #666;
  top: 3px;
  left: -32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
}
.list-account-info .notification .list-notification li .list-body p {
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin-top: 5px;
}
.list-account-info .notification .list-notification li .image {
  width: 75px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
}
.list-account-info .notification .list-notification li .image img {
  width: 100%;
}
.list-account-info .notification .list-notification li .time span {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #a5a5a5;
}
.list-account-info .notification .list-notification .ac-new {
  background-color: aliceblue;
}

.list-account-info .notification .list-notification .ac-new .list-body .author span {
  color: #DC5547;
}
.list-account-info .notification .list-notification .ac-new .list-body .author .div-x {
  background-color: #37abf2;
}

/* home search */
.tb-cell {
  display: table-cell;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.after-slider {
  padding: 0;
  margin-top: 10px;
}

.awe-color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
}

.bg-color-1 {
	background-color: #D35400;
}

.after-slider .after-slider-bg-2 {
  background-color: #E67E22;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.after-slider-content {
  display: table;
  width: 100%;
  height: 100px;
}
.after-slider-content .inner {
  position: relative;
  padding-right: 75px;
  background-color: #E67E22;
  width: 76%;
}
.after-slider-content .inner:after {
  content: '';
  display: block;
  clear: both;
}
.after-slider-content .inner:before {
  content: '';
  display: block;
  position: absolute;
  border: solid transparent;
  border-left-color: #E67E22;
  border-width: 51px 20px;
  top: -1px;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.after-slider-content h4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0;
  line-height: 40px;
  float: left;
  width: 18.8%;
}
.after-slider-content .course-keyword {
  width: 38.3%;
  float: left;
  padding: 15px 10px;
}
.after-slider-content .course-keyword input {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 0 13px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #003350;
}
.after-slider-content .course-keyword input::-webkit-input-placeholder {
  color: #003350;
}
.after-slider-content .course-keyword input:-moz-placeholder {
  /* Firefox 18- */
  color: #003350;
}
.after-slider-content .course-keyword input::-moz-placeholder {
  /* Firefox 19+ */
  color: #003350;
}
.after-slider-content .course-keyword input:-ms-input-placeholder {
  color: #003350;
}
.after-slider-content .mc-select-wrap {
  width: 21%;
  float: left;
  padding: 15px 10px;
}

.after-slider-content .form-control {
	height: 40px;
}

@media screen and (max-width: 1199px) {
  .after-slider-content .inner {
    width: 80%;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1020px) {
  .after-slider-content {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .after-slider-content .form-actions .mc-btn {
    width: 100%;
  }
  .after-slider-content h4,
  .after-slider-content .mc-select-wrap,
  .after-slider-content .course-keyword {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
    margin: 15px 0;
  }
  .after-slider-content,
  .after-slider-content .tb-cell {
    display: block;
    height: auto;
    text-align: left;
    width: 100%;
    padding-right: 0;
  }
  .after-slider-content .tb-cell {
    background: none;
  }
  .after-slider-content .tb-cell:before {
    display: none;
  }
  .after-slider .after-slider-bg-2 {
    display: none;
  }
}

.mc-select {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mc-select select.select {
  position: relative;
  z-index: 9;
  background-color: #fff;
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 13px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #003350;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn-style-search {
  background-color: #0080a9;
  color: #fff;
}


.btn-style-search:focus, .btn-style-search:hover {
  background-color: #003a4d;
  color: #fff;
}


.mc-btn {
  display: inline-block;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 40px !important;
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.counter {
	text-align : center;
	background-color: #16A085;
	color: #fff;
}

.counter h4, .counter h3 {
	color: #fff;
}

.counter h3 {
	font-style : bold;
	font-size: 40px;
}

.home-course h3{
	margin-bottom: 0;
}

.home-course .grid-event-item {
	margin-top: 20px;
}

.custom-breadcrumb {
	margin-bottom: 30px
}

.regulatory-container {
	margin-top: 30px; 
	background-color: #fff; 
	padding: 20px;
}

.regulatory-container .form-control {
	display: inline-block;
}
.text-center {
	text-align: center;
}

#blog-landing {
	margin-top: 81px;
	position: relative;
	max-width: 100%;
	width: 100%;
}

.kosong {
	 visibility: hidden;
}

.fit-scale {
	background-position: center;
	  background-repeat: no-repeat;
	  height: 100%;
	  width: 100%;
	  background-size: cover;
	  position: relative
}

.photo-content {
	width: 206px;
	height: 206px;
}

.photo-content .photo-over {
	width: 100%;
	  height: 100%;
	  position: absolute;
}

.photo-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.photo-overlay a {
	color: #fff;
}

.photo-overlay a:hover {
	color: #fecd0b;
}

.photo-overlay .gallery-title{
	margin: 0;
	padding: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 83, 140, 0.6);
}

/**
 * Grid container
 */
.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 1;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 200px;
  padding: 4px;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.tiles-wrap li img{
	width: 100%;
	margin-bottom: 5px;
}

.tiles-wrap li p {
	margin: 0;
	font-size: 14px;
}

.tiles-wrap.animated li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles-wrap li:hover {
  background-color: #fafafa;
}

.tiles-wrap img {
  display: block;
}

.tiles-wrap a {
  color: #555;
  text-align: center;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.tile-loading:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  content: "Loading\2026";
  padding-top: 20px;
  color: #999;
}

/**
 * Filters
 */
#filters {
  list-style-type: none;
  text-align: center;
  margin: 0 5% 0 5%;
}

#filters:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 6px 8px 4px;
  cursor: pointer;
  margin: 0 10px;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#filters li:hover {
  background: #4281f5;
  color: #ffffff;
}

#filters li.active {
  background: #4281f5;
  color: #ffffff;
}

/**
 * DASHBOARD
 */
.sidebar-container {
	background-color: #fff; margin-top: 30px
}

.nav-sidebar {
  margin-bottom: 20px;
  padding: 10px 0;
}

.nav-sidebar > li {
	margin-bottom: 1px;
}

.nav-sidebar > li > a {
	font-weight: bold;
	color: #464646;
}

.nav-sidebar > li > a:hover {
	background: #FAEADF;
}

.nav-sidebar > li.active > a {
    border-left: 3px solid #D35400 !important;
    margin-left: -3px;
    padding-left: 15px;
    font-weight: bold;
    background: #FAEADF;
    color: #C0392B;
}

.nav-sidebar .nav {
	padding-top: 1px;
}

.nav-sidebar .nav li {
	margin-bottom: 1px;
}

.nav-sidebar .nav li a {
	font-weight: bold;
	color: #464646;
}

.nav-sidebar .nav li a:hover {
	background: #FAEADF;
}

.nav > li > a:focus {
	background: #FAEADF;
}

.nav-sidebar .nav li.active {
	background: #FAEADF;
	color: #C0392B;
}

.nav-sidebar .nav li.active a{
	color: #C0392B;
}


.dashboard-container .breadcrumb {
	margin-top: 30px;
}

.content-dashboard {
	background-color: #fff; 
	padding: 10px;
}

.notification .list-group-item {
	border: none;
	padding: 5px 15px;
	margin-bottom: 1px;
}

.notification .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.notification .list-group-item:last-child {
  margin-bottom: 0;
  border-radius: 0;
}

.notification .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #555;
  background-color: #f5f5f5;
}

.notification .time {
	font-style: italic;
}

.load-more-btn a {
	cursor: pointer;
}

.breadcrumb li a {
	color: #3E6E96;
}

.left-single-event {
	padding: 0 20px 0 0; margin-bottom: 20px
}

.right-single-event {
	padding: 0
}

/* CSS SCROLL PLUGIN */
.ps-scrollbar-x-rail {
  display: none;
}
.ps-container > .ps-scrollbar-y-rail {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #910019;
  position: absolute;
  right: 0;
  width: 3px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform .3s ease;
}
.ps-container:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container:active > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  opacity: 1;
}

.widget-inner .gallery-item {
	margin-top: 0;
}

.album-detail li {
	margin-bottom: 20px;
}

.album-detail li:last-child {
	margin-bottom: 0;
}

.gallery-home {
	margin-top: 10px;
}

.gallery-home h3 {
	margin-bottom: 20px
}

.gallery-home .gallery-item {
	margin-top: 0;
	margin-bottom: 20px;
}

/* CAROUSEL */
.latest-training {
	margin-top: 50px;
	position: relative;
}

.latest-training h3 {
	margin-bottom: 0;
	margin-top: 0;
}

.latest-training .grid-event-item {
	margin-top: 20px;
}
.feature-slider .grid-event-item{
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
.feature-slider {
  width: auto;
  margin-right: 1px;
  
}
.feature-slider .owl-wrapper-outer {
  padding-bottom: 10px;
}
.feature-slider .mc-item {
  margin-left: 15px;
  margin-right: 15px;
}
.feature-slider .mc-item .content-item {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.feature-slider .owl-controls {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
}
.feature-slider .owl-buttons {
  position: absolute;
  top: -34px;
  right: 15px;
}
.feature-slider .owl-buttons div {
  display: inline-block;
  margin: 0 3px;
}
.feature-slider .owl-buttons div .fa {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  border: 2px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.feature-slider .owl-buttons div .fa:hover {
  border: 2px solid #37abf2;
  color: #37abf2;
}
.feature-course .all-course {
    position: absolute;
    top: 0;
    right: 80px;
    height: 25px;
    line-height: 25px !important;
    font-size: 14px;
    margin: 0;
}
.btn-red {
    color: #fff;
    background-color: #E74C3C;
    border-color: #d43f3a;
}
.mc-btn {
    display: inline-block;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 40px;
    line-height: 40px !important;
    padding: 0 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

/* CUSTOM MARGIN */
.margin-bottom-0 {
	margin-bottom: 0;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.list-account {
    width: 200px;
}
.training-title {
	margin-bottom: 10px;
}
.training-title h3 {
	margin-bottom: 0;
}
.training-requirement-title {
	font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px 0;
}
.training-requirement-list {
	padding: 0;
    list-style-position: inside;
    margin: 0;
}
.right-side-training {
	padding: 20px;
    border-radius: 5px;
    position: relative;
	background-color: #F6F6F6
}

.right-side-training .widget {
    position: relative;
    padding: 10px 20px 10px 24px;
}

.right-side-training .widget_equipment .icon {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 14px;
  color: #666;
}

.right-side-training .widget_equipment h4 {
	margin-top: 2px;
	margin-bottom: 5px;
}

.right-side-training .button-join {
	margin-top: 5px;
	margin-bottom: 10px;
}

.training-requirement-list li{
    background-color: whitesmoke;
    border-color: #dddddd;
    padding: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

div.dataTables_filter input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

div.dataTables_length select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.bold{
	font-weight: bold;
}

.spinner-container {
	text-align: center;
	    margin: 0 auto;
}

.spinner-loader:not(:required) {
	 display: block;
}

.form-edit .form-group .text-content {
	display: block;
	    width: 100%;
	    padding: 6px 12px 6px 0;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-image: none;
	    border-bottom: 1px solid #ccc;
}

.pengaduan .event-title {
	margin-bottom: 0;
}

.pengaduan .search-form-item {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 20px;
}

.pengaduan .course-search h3 {
	margin-bottom: 20px;
}

.pengaduan .select-yes {
    width: auto;
    margin-right: 30px;
}

.pengaduan .mainBtn {
	margin-top: 10px;
	background-color: #003a6a;
	color: #fff;
}

.clear {
  content: '';
  display: block;
  clear: both;
}

.pengaduan .search-form-item.margin-top-0 {
	margin-top: 0;
}

.pengaduan .widget-main {
	margin-top: 0;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.pengaduan .content-dashboard {
	padding: 20px;
}

.pengaduan form .form-section {
	margin: 20px 0;
}

.pengaduan .alert-dismissible .close {
	right: 0;
}

.pengaduan .type-search {
	margin-right: 10px; background-color: white;
}

.pengaduan .search-advanced {
	border-top: 1px solid #eee; margin-top: 15px
}

.pengaduan .search-bit-advanced {
	border-top: 1px solid #eee; padding-top: 10px
}

/* Team Blocks */
.instructor .thumbnail {
/*  border: none;*/
	min-height: 400px;
}
.instructor .thumbnail img {
	height: 252px;
}

.instructor h3,
.ecommerce .instructor h3 {
/*  margin:10px 0 12px;*/
  margin:10px 0 0;
  line-height:40px;
}
.instructor h3 strong {
  color: #E02222;
  font-size: 20px;
  font-weight: 400; 
}
.instructor h3 small {
  display: block;
  font-size: 13px; 
  margin-bottom: 5px;
  color: #312828;
}
.instructor ul {
  padding: 4px 0 0;
}
.instructor .social-icons {
  overflow: hidden;
}
.inline {
	display: inline;
}
.regulatory-container .form-control {
	width: 300px;
}

/* SEARCH */
.search-classic {
    margin-bottom: 30px;
}

.detail-profile .event-contact {
	margin-top: 20px;
}

.detail-profile .event-contact h3 strong {
	color: #E02222;
	    font-size: 20px;
	    font-weight: 400;
}

.detail-profile .event-contact li{
	line-height: 1.5;
	margin-bottom: 5px;
}

.detail-profile img {
	width: 100%;
}

.padding-top-7 {
	padding-top: 7px
}

/* Top Search */
.main-navigation li.menu-search {
	padding: 17px;
}
.main-navigation .list-account-info li.menu-search {
	padding: 0;
}

.main-navigation li.menu-search span.sep {
	top: 0;
	width: 1px;
	height: 26px;
	background: #eaeaea;
	position: relative;
	margin: 0 18px 0 16px;
	display: inline-block;
}
.main-navigation li.menu-search i {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	width: 15px;
	height: 15px;
}
.main-navigation .list-account-info li.menu-search i {
	top: -6px;
}

.main-navigation li.menu-search i:hover {
	color: #F1AF11;
	background-position: 0 -15px;
}
/*.main-navigation .fa-search:before {
	content: none;
}*/
.main-navigation .search-box {
	/*right: -7px;*/
	right: 10px;
	top: 100%;
	padding: 15px;
	display: none;
	background: #fcfafb;
	position: absolute;
	border-top: solid 2px #ea4c1d;
	box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
	width: 274px;
	margin-top: 0;
	z-index: 22;
}
.main-navigation .search-box:after { 
	top: -8px;
	width: 0; 
	height: 0;
	right: 8px;
	z-index: 2; 
	content: " "; 
	display: block; 
	position: absolute;
	border-bottom: 8px solid #e6400c;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.main-navigation .search-box button {
	margin-left: 0 !important;
}