/* here you can put your own css to customize and override the theme */

body {
	background-color: #F2F2F2;
}

.page-header {
	height: 75px;
	box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}

.page-content {
	background-color: rgba(0,0,0,0);
} 

.page-footer {
	  background: #EAEAEA;
}

.page-header .page-header-top .page-logo .logo-default {
  margin: 18.5px 0 0 0;
  height: 39px;
}

.login {
  background-color: #F2F2F2 !important;
}

.login .content {
  background-color: #FFFFFF;
}

.login .content .create-account {
   background-color: #4DB3A5;
}
 
.login .content .create-account p a {
   color: #FFFFFF;
}

.login .copyright {
   color: #919191;
}

.register-form .up-dikit {
	margin-top: 20px;
}

.registrasi-lkpp .box {
	display: none;
}

.login-options .back-to{
	float: right;
    padding-top: 10px;
}

.back-to {
    padding: 0;
    margin: 0;
}

.back-to li {
    float: left;
    display: inline;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 5px;
	font-weight: bold;
}
.back-to li span.sep {
    top: 0;
    width: 1px;
    height: 12px;
    background: #D8D8D8;
    position: relative;
    margin: 0;
    display: inline-block;
}
.login .content{
	margin-top: 20px;
}
