/* here you can put your own css to customize and override the theme */

.coach_registration .kotak{
	display: none;
}

.editor-container {
	background-color: #fff; 
	padding: 5px; 
	margin-bottom:20px
}

.publish-container {
	margin: 10px 0;
}

.editor-sidebar .thumbnail {
	margin-bottom: 0
}

.editor-sidebar div.checker {
	margin-left: 0;
}

.editor-sidebar .form .form-body {
	padding: 0;
}

.page-footer {
	background-color: #525865;
}

.standard-font {
	font-size: 13px;
}

#table_approval_submission_training_paginate ul.pagination li > a {
	font-size: 10px;
}

.create-item {
    border-bottom: 2px solid #eee;
    padding: 30px 0;
}