/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


/*
img { margin: 0.83em 0; vertical-align: bottom; }
table { margin: 0.5em; }
textarea { vertical-align: top; }
*/
.page-body{
			margin: 10px 0px;
		}

		table{
			border:1px solid #000;
			border-collapse:collapse;
			width: 100%;
		}
		th{
			border:1px solid #000;
			padding: 5px;
		}
		td{
			border:1px solid #000;
			padding: 5px;
		}
		.td_front{
			width: 25%;
		}
		.td_middle{
			width: 1%;
		}
		#content_box{
			margin: 10px 0px;
		}
		#judul_utama{
			width: 100%;
			text-align: center;
		}